    
       <link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Home/Common/css/about.css"/>
        <script src="__ROOT__/Application/Home/Home/Common/js/jquery-1.12.4.min.js"></script>
        <script src="__ROOT__/Application/Home/Home/Common/js/about.js"></script>
        <title>品牌中心</title>
		<div class="content">
			<h2><span>品牌介绍</span></h2>
			<div class="mg">
			
				<p>当前位置：<a href="__APP__/Index/index">首页</a>><a href="__APP__/Brand/index">品牌介绍</a>><a href="###" class="on">品牌介绍</a></p>
				<div class="text">
				 
				    <if condition="$_GET['id'] neq ''">
                    <h3>{$brand.title}</h3>
                    {$brand.content}
                    <else/>
                    
                    <h3>{$brand1.title}</h3>
                    {$brand1.content}
                    </if>

				                          
                                   
				</div>
				<div class="img">
					<img src="__ROOT__/Application/Home/Home/Common/img/about/img1.png"/>
					<img src="__ROOT__/Application/Home/Home/Common/img/about/img2.png" alt="" />
					<img src="__ROOT__/Application/Home/Home/Common/img/about/img3.png"/>
				</div>

			</div>
		</div>
		