		
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Home/Common/css/base.css"/>		
		<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Home/Common/css/register.css"/>				
		<script src="__ROOT__/Application/Home/Home/Common/js/jquery-1.3.2.min.js"></script>		
		<script type="text/javascript" src="__ROOT__/Application/Home/Home/Common/js/jquery.validate.js"></script>
		<script type="text/javascript" src="__ROOT__/Application/Home/Home/Common/js/vip_register.js"></script>
		<script type="text/javascript" src="__ROOT__/Application/Home/Home/Common/js/messages_zh.js"></script>
		<script type="text/javascript" src="__ROOT__/Application/Home/Home/Common/js/PCASClass.js"></script>

<style>
.help-inline{color:red}
</style>
	</head>
	<body>
		<div class="header">
			<div class="mg">
				<div class="logo fl">
					<a href="__APP__/Index/index">
						<img src="__ROOT__/Application/Home/Home/Common/img/common/logo.png" alt="" />
					</a>
				</div>
<!-- 				<div class="search fl">
					<form action="">
						<input type="text" placeholder="请输入关键词"/>
						<a href="#"><img src="__ROOT__/Application/Home/Home/Common/img/common/search.png"/></a>
					</form>
				</div> -->
				<div class="shopcar fr">
					<a href="__APP__/Cart/index">购物车<img src="__ROOT__/Application/Home/Home/Common/img/common/car.png" alt="" /></a>
				</div>
				
				
				<if condition="$_SESSION['vip_name'] eq ''"> 				
					<div class="login fr">				
					    <a href="__APP__/Login/login">登陆</a>/<a href="__APP__/Login/register">注册</a>
					</div>					
				<else/>				
					<div class="login fr">				
					    <a href="__APP__/Login/login">欢迎您，<span style="color:red;">{$_SESSION['vip_name']}</span>!</a><a href="{:U('Login/LoginOut')}">&nbsp&nbsp退出</a>
					</div>									
				</if>
			
			
			</div>
			<div class="nav">
				<div class="mg">
					<ul>
						<li><a href="__APP__/Index/index">首页</a></li>
						<li><a href="__APP__/Brand/index">品牌介绍</a></li>
						<li><a href="__APP__/News/index">新闻中心</a></li>
						<li><a href="__APP__/Product/index">产品中心</a></li>
						<li><a href="__APP__/Contact/index">联系我们</a></li>
						<li><a href="__APP__/User/index">会员中心</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="content">
			<div class="ng">
				<h3>注册账号</h3>
				<form id="checkForm" action="__APP__/Login/register"  method="post" rel="__APP__/Login/checkCode">
					<p id="nameCheck" rel="{:U('Login/nameCheck')}">用户名：<input type="text" name="vip_name"/></p>
					<p>密码：<input type="password" name="password" id="password" /></p>
					<p>确认密码：<input type="password" name="repass" id="repass"/></p>
					<p>Email：<input type="text" name="email" id="email"/></p>
					<p>手机号：<input type="text" name="phone" id="phone"/></p>
					
					<select name="province3">

					</select>&nbsp;&nbsp;&nbsp;&nbsp;
					<select name="city3">

					</select>&nbsp;&nbsp;&nbsp;&nbsp;
					<select name="area3">
	
					</select>&nbsp;&nbsp;&nbsp;&nbsp;<br />
					
					<input type="text" id="checkCode" name="code" /><img src="__APP__/Login/VerifyCode"  id="codeA"/> 
					<div id="error" style="font-size:12px;color:red;width:100px;height:30px;margin-left:155px"></div>
					
					<p class="ov"><span><input type="checkbox" ></span><label for="che">同意注册协议书</label></p>
					
				    <input type="submit" value="注册" style="margin-right:45px"/>
				</form>
				<div class="right">
					<ul>
						<li><a href="javascript:;"><img src="__ROOT__/Application/Home/Home/Common/img/login/img1.png"/></a></li>
						<li><a href="javascript:;"><img src="__ROOT__/Application/Home/Home/Common/img/login/img2.png"/></a></li>
						<li><a href="javascript:;"><img src="__ROOT__/Application/Home/Home/Common/img/login/img3.png"/></a></li>
					</ul>
					<img src="__ROOT__/Application/Home/Home/Common/img/login/img2.jpg"/>
					<p>（扫一扫）微信快速注册</p>
				</div>
				
			</div>
		</div>

		<div class="footer">
			<p>版权手有 &copy GSDGSHS怀素堂花草茶 HDIGFDGDGD UHF  ICU备12028918号</p>
		</div>
	</body>
</html>


<script>
$(function(){
	//验证码无刷新更新
	$("#codeA").click(function(){ 
		$(this).attr('title', '点击刷新');  
		var verifyimg = $(this).attr("src");
		if( verifyimg.indexOf('?')>0){  
		    $(this).attr("src", verifyimg+'&random='+Math.random());  
		}else{  
		    $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
		}  
	})
	
	
	var a=0;//阻止提交
	//验证码验证，当在输入框输入验证码后的弹起事件做AJAX验证
	$("#checkCode").blur(function(){
		//alert(123);
		var code=$("#checkCode").val();
		//alert(code)
		var url=$('#checkForm').attr('rel');
		//alert(url)
			$.ajax({
			    type:'GET',
				data:{'code': code},
			    url:url,
			    success:function(msg){
			    	//alert(msg);
		    	    if(msg==1){	 		    	    	
			    		$("#error").text('');
			    		
			    	}else{
			    		$("#error").text('验证码错误!');
			    		a++;			    		
			    	}
			    }
		     
		   })//ajax结束符		
	   		   
	})//失去焦点事件结束符
	 
	//阻止提交
	$('#checkForm').submit(function(){
      //判断如果有误项，阻止提交
	  if(a!=0){
		return false;
	  }else{
		  return true;
	  }
    }) 
})


    //实例化地区多久联动效果
    new PCAS("province3","city3","area3");
</script>
		